
/*todo box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.33), inset 0 0 6px 3px rgba(0, 0, 0, 0.25); /*смещение по X, смещение по Y, размытие, размер (0 - как у самого объекта)*/

/*todo чтобы закрыть все region: Ctrl+Shift+Num-*/
/*todo чтобы открыть все region: Ctrl+Shift+Num+*/

/*todo для нового года и ДР см. .main_div и .logo_div*/

/*region ------- Таблицы --------------------------------------------------------------------------------------------------------*/
.table_two_colors {
    box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.23);
}
.table_two_colors tr:nth-child(odd){
    background-color: #ffe4c4;
}
table a[href$='.ods']:hover, table a[href$='.odt']:hover, table a[href$='.docx']:hover, table a[href$='.xlsx']:hover, table a[href$='.xls']:hover, table a[href$='.pdf']:hover, table a[href$='.doc']:hover {
    /*padding-left: 22px;*/
    background-size: 22px;
    background-color: unset;
}
table {
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}
.small_table {
    font-size: 14px;
    border-collapse: collapse;
    width: 300px;
    margin: auto;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}
/*endregion ------------------------------------------------------------------------------------------------------------*/

/*region ------- Блок с активностью на главной странице -------------------------------------------------------------------------*/

.activity_block {
    background-color: #f57506;
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    padding: 2px;
    margin: 2px;
}
.activity_block div {
    background-color: antiquewhite;
    border-radius: 3px;
    text-indent: 0;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
}
.activity_block div:nth-child(2) {
    color: darkslateblue;
    text-indent: 0;
    text-align: center;
    font-size: 14px;
}
.activity_block div:last-child {
    line-height: 10px;
    padding-bottom: 2px;
}
.activity_block span {
    font-size: 18px;
    color: #ff3333;
    padding: 3px;
}
/*endregion ------------------------------------------------------------------------------------------------------------*/

/*region ------- UNDER CONSTRUCTION ---------------------------------------------------------------------------------------------*/

/*.under_construction:before, .under_construction:hover:before {*/
.under_construction, .under_construction:hover {
    font-size: 14px;
    color: #ff3333;
    padding: 3px 20px;
    text-shadow: 0 3px 2px #000000;
    font-style: italic;
    /*content: "в работе";*/
}

/*.under_construction:hover:before {*/
.under_construction:hover {
    color: #ffffff;
}

/*endregion ------------------------------------------------------------------------------------------------------------*/

/*region ------- Дивы и вложенные в дивы элементы -------------------------------------------------------------------------------*/

.logo_div {
    background: #333333 url("logo2.png") no-repeat center;/*стандарт*/

    /*ДЛЯ НОВОГО ГОДА*/
    /*background: #333333;
    background-image: url("logo2.png"), url("sneg.jpg");
    background-position: center, right top;
    background-repeat: no-repeat, repeat;*/

    box-shadow: 4px 1px 21px 1px rgba(0, 0, 0, 0.53);
    padding: 10px;
    height: 110px;
    margin: 5px;
    border-radius: 10px;
}

.main_div{
    margin: 0;
    padding: 50px 10px 10px 10px;
    min-height: 100vh;

    /*todo попробовать (если не нужен скрол, то не показывает, но добавляет для него место) overflow: visible*/

    /*min-height: calc(100vh + 10px);*/
    /*Для варианта с верхним дивом (upper_div)*/
    /*margin-top: 25px;*/

    /*ДЛЯ НОВОГО ГОДА*/
    /*background: #ffffff url("imgs/novyy-god.jpg") no-repeat right top;*/
    /*background-size: 250px;*/

    /*ДР*/
    /*background: #ffffff url("imgs/cake.png") no-repeat right top;*/
    /*background-size: 150px;*/

    /*ДР*/
    /*background: #ffffff url("imgs/den_rozhdeniya.png") no-repeat right top;
    background-size: 200px;*/
}

.main_div>ul>li, .main_div>ol>li {
    margin-bottom: 5px;
}

.menu_and_main_div {
    padding: 0px;
    max-width: 1700px;
    margin: auto;
    background: none;
}

/*endregion ------------------------------------------------------------------------------------------------------------*/

/*region ------- Зеленая кнопка меню --------------------------------------------------------------------------------------------*/

#menu_button {
    background-color: #44c767;
    /*background: linear-gradient(to bottom, #64ff57 5%, #08b80d 100%);*/
    /*border-style: groove;*/
    border-radius: 30px;
    border-width: 4px;
    /*border: 1px solid #18ab29;*/
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    height: 60px;
    width: 60px;
    text-align: center;
    text-indent: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
    box-shadow: 4px 1px 11px 1px rgba(0, 0, 0, 0.53), inset 1px 1px 6px 6px rgba(0, 0, 0, 0.25);
}

#menu_button :hover {
    background: linear-gradient(to bottom, #f4ff3a 5%, #f5a208 100%);
}
/*endregion-----------------------------------------------------------------------------------------------------------*/

/*region ------- UI компоненты — кнопки, селекты, инпуты -----------------------------------------------------------------------*/

input[type="text"], input[type="date"], select {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    border: 0;
    border-radius: 6px;
    box-shadow: inset 5px 10px 5px -9px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: inset 10px 10px 3px -7px rgba(0, 0, 0, 0.55);
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 9px;
}

select {
    border-radius: 6px 0 0 6px;
}

input[type="button"] {
    font-size: 14px;
    box-shadow: inset 0 0 3px 1px #111111;
    /*background:linear-gradient(to bottom, #dfffb5 5%, #f5c98c 100%);*/
    /*background:linear-gradient(to bottom, #5bff5e 5%, #23f51a 100%);*/
    background: #f59708;
    /*background-color:#dfffb5;*/
    border-radius: 8px;
    /*border-style: none;*/
    /*border:1px solid #18ab29;*/
    border-width: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 3px 11px;
    text-decoration: none;
    text-shadow: 0 3px 3px #000000;
}

input[type="button"]:hover {
    background: linear-gradient(to bottom, #f4ff3a 5%, #f5a208 100%);
    /*background: #f4f515;*/
}

input[type="button"]:active {
    background: linear-gradient(to bottom, #ffa86c 5%, #dc0d0c 100%);
}

/*endregion ------------------------------------------------------------------------------------------------------------*/

/*region ------- header_div_2 ---------------------------------------------------------------------------------------------------*/
.header_div_2 {
    text-indent: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    box-shadow: none;
    text-align: left;
}

.header_div_2 > a, .header_div_2 > a:hover {
    border-radius: 0 0 0 0;
    font-family: Arial, sans-serif;
    box-shadow: 4px 1px 11px 1px rgba(0, 0, 0, 0.53);
    display: inline-block;
    background: linear-gradient(to bottom, #fed53f 5%, #f57506 100%);
    color: white;
    font-size: 14px;
    padding: 4px 15px;
    text-indent: 0;
    margin-left: 0;
}

.header_div_2 > a:last-of-type {
    border-radius: 0 15px 15px 0;
}

.header_div_2 > a:first-of-type {
    border-radius: 15px 0 0 15px;
}

.header_div_2 > a:hover {
    /*background-color: limegreen;*/
    background: linear-gradient(to bottom, #64ff57 5%, #08b80d 100%);

}
/*endregion ------------------------------------------------------------------------------------------------------------*/

/*region ------- БЛОЧНЫЕ ССЫЛКИ НА ГЛАВОЙ СТРАНИЦЕ ------------------------------------------------------------------------------*/

.menu_block {
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.75);
    text-align: center;
    alignment: center;
    height: 156px; /*171*/
    width: 144px;
    text-indent: 0;
    margin: 3px;
    padding: 0;
    float: left;
    line-height: 0.9;
    visibility: visible;
    vertical-align: center;
}

.menu_block:hover {
    /*box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.75);*/
    /*box-shadow: 4px 1px 21px 1px rgba(255, 100, 0, 0.53);это для белого фона*/
    box-shadow: 4px 1px 21px 1px rgba(255, 100, 0, 0.75);
}

.menu_block_top_red {
    background-color: #f33;
}

.menu_block_top_green {
    background-color: green;
}

.menu_block_top_blue {
    background-color: #33f;
}

.menu_block_top_orange {
    background-color: darkorange;
}

.menu_block_top_violet {
    background-color: darkmagenta;
}

.menu_block_top_green, .menu_block_top_red, .menu_block_top_blue, .menu_block_top_orange, .menu_block_top_violet {
    font-size: 13px;
    height: 23px;
    color: white;
    box-shadow: none;
}

.menu_block div span {
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 0;
}

.menu_block_footer {
    box-shadow: none;
    background-color: #ccc;
    height: 35px;
    color: #555;
    font-size: 13px;
}


.menu_block img {
    margin: 0;
    height: 98px;
    width: 144px;
}

.menu_block div {
    padding: 0;
    text-indent: 0;
    margin: 0;
    text-align: center;
}

.menu_block a {
    margin: 0;
    padding: 0;
    background: none;
}

.menu_block a:hover {
    padding: 0;
    background: none;
}

/*endregion ------------------------------------------------------------------------------------------------------------*/

/*region ------- A DIV P IMG H1 H3 UL OL FIGCAPTION BODY PRE---------------------------------------------------------------------*/

div {
    text-align: justify;
    text-indent: 30px;
    font-size: 18px;
    font-family: sans-serif;
    background-color: white;
}

p {
    text-indent: 40px;
}

a {
    color: darkorange;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 2px 4px;
    margin-left: -4px;
    transition-property: all;
    transition-duration: 450ms;
}

a:hover {
    color: white;
    background-color: darkorange;
    border-radius: 9px;
    padding: 2px 4px;
    transition-property: all;
    transition-duration: 250ms;
}

img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    text-indent: 0;
    color: red;
    font-style: italic;
}

h1, h3 {
    font-size: 26px;
    color: #bd7400;
    text-align: center;
    font-family: "Book Antiqua", "Garamond", "Traditional Arabic", "Times New Roman", sans-serif;
    text-transform: uppercase;
    text-indent: 0;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; /*это чтобы на фоне картинке текст заголовка не сливался с картинкой*/
}

h3 {
    font-size: 22px;
    text-transform: none;
    font-family: Arial;
}

ul {
    padding-left: 10px;
    padding-right: 10px;
    list-style-position: inside;
    font-size: 18px;
}

ul ul {
    padding-left: 40px;
}

ol {
    text-indent: 10px;
    font-size: 18px;
}

figcaption {
    font-size: 14px;
    text-align: center;
    font-style: italic;
    text-indent: 0;
}

body {
    margin: 0;
    background: #888 url("bg_main_transp.png");
}

pre {
    font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;
    background: #333333;
    color: #dddddd;
}

/*endregion ------------------------------------------------------------------------------------------------------------*/

/*region ------- DARK_LINK, LIKE_A_BUTTON, SPACE, LINE_THROUGH, RED_LIGHT_TITLE, NO_MARKERS -------------------------------------*/

.dark_link {
    color: #ff5533;
    font-size: 20px;
    font-family: sans-serif
}

.dark_link:hover{
    background-color: #ff5533;
}

.like_a_button {
    font-size: 15px;
    background-color: #888888;
    color:white;
    padding: 3px 5px;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.33), inset 0 0 6px 3px rgba(0, 0, 0, 0.25); /*смещение по X, смещение по Y, размытие, размер (0 - как у самого объекта)*/
}

.space {
    margin-left: 16px;
}

.line_through {
    text-decoration: line-through;
    color: gray;

}

.red_light_title {
    font-size: 20px;
    color: #FF6633;
    text-shadow: 1px 4px 5px #aba8a8;
}

.no_markers {
    list-style-type: none;
}

/*endregion ------------------------------------------------------------------------------------------------------------*/

/*region ------- Контейнеры: yellow_back, tips_and_tricks, attentions, menu_block и т.д. ----------------------------------------*/

.yellow_back_right {
    font-size: 14px;
    background-color: khaki;
    padding: 10px;
    margin-left: 100px;
    width: 400px;
    align-self: center;
    text-align: right;
}

/*И red и yellow используются только на главной странице*/
.red_back_index_right, .yellow_back_index_right {
    box-shadow: 4px 1px 21px 1px rgba(0, 0, 0, 0.53);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    font-size: 14px;
    background-color: antiquewhite;
    align-self: center;
    text-align: center;
    text-indent: 0;
}

.red_back_index_right {
    text-align: left;
    padding-left: 40px;
    background-color: #ffdddd;
}

.yellow_back, .yellow_back_small, .tips_and_tricks, .attention_block, .yellow_back_tight, .yellow_back_small_clickable {
    padding: 10px 20px;
    font-size: 16px;
    background-color: antiquewhite;
    align-self: center;
    text-indent: 10px;
    border-radius: 5px;
    box-shadow: 2px 1px 3px 0 rgba(0, 0, 0, 0.43);
}

/*Прямоугольник для <span>, применяется для отображения команды ("01 13 08 ff 24 00 04 00 0A 12 20")*/
.yellow_back_small, .yellow_back_small_clickable {
    padding: 0px 20px;
}

.yellow_back_small_clickable {
    cursor: pointer;
}

.yellow_back_small_clickable:hover {
    color: red;
}

.yellow_back_small_clickable:active {
    color: blue;
}

.language_span {
    float: left;
    padding: 2px 4px;
    font-size: 12px;
    background-color: #4CAF50;
    color: white;
}

/*То же, что и yellow_back, но контейнер получается не на всю страницу по ширине, а только 500px и располагается по середине*/
.yellow_back_tight {
    text-indent: 0;
    max-width: 500px;
    margin: 20px auto;
}

.tips_and_tricks ul {
    font-size: inherit;
}

.tips_and_tricks {
    background: url("imgs/lamp.png") no-repeat;
    background-position: 20px;
    background-size: 50px 60px;
    padding-left: 100px;
    background-color: #ddddff;
    min-height: 50px;
    border-radius: 5px;
    box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.23);
    text-indent: 0;
    font-size: 14px;
    max-width: 800px;
    margin: 20px auto;
}

.attention_block{
    background: url("imgs/attention.png") no-repeat;
    background-position: 20px;
    background-size: 60px 50px;
    padding-left: 100px;
    background-color: #fed53f;
    min-height: 50px;
    border-radius: 5px;
    box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.23);
    text-indent: 0;
    font-size: 14px;
    max-width: 800px;
    margin: 20px auto;
}

.attention_block ul {
    font-size: 14px;
}

.attention_block td {
    background: white;
}

/*Контейнер для ссылок в начале страницы под заголовком */
.left_align {
    text-align: left;
    font-size: smaller;
    background-color: lemonchiffon;
    text-indent: 0;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 4px 1px 11px 1px rgba(0, 0, 0, 0.23);
}

.div_for_menu_block {
    margin: 0 10px;
    visibility: hidden;
    padding: 0;
}

.tips_and_tricks a {
    font-size: 14px;
    color: #ff5533;
}

.tips_and_tricks a:hover {
    background-color: #ff5533;
    color: #ffffff;
}

.red_back_index_right a {
    font-size: 16px;
    color: #ff5533;
}

.red_back_index_right a:hover {
    background-color: #ff5533;
    color: white;
}

/*endregion-------------------------------------------------------------------------------------------------------------*/

/*region ------- Зеленая форма. Применяется только в БДКГ-27 --------------------------------------------------------------------*/
.green_back {
    margin: 10px auto;
    padding: 10px 20px;
    background-color: limegreen;
    text-indent: 0;
    text-align: center;
    border-radius: 0;
    box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.43);
    width: 200px;
}

.green_back input {
    width: 100px;
    margin: 5px;
}

/*endregion-------------------------------------------------------------------------------------------------------------*/

/*region ------- Выделение в тексте (mark, attention) ---------------------------------------------------------------------------*/

.yellow_back p {
    margin: 10px;
}

.yellow_back ul {
    font-size: 14px;
}

/*Просто красный шрифт для важного в тексте*/
.attention {
    color: #ff3333;
}

/*Как и attention, но больше шрифт*/
.attention_big {
    color: #ff3333;
    font-size: 20px;
}

.mark_green {
    background-color: greenyellow;
}

.mark_yellow {
    background-color: yellow;
}

.big_one {
    color: orangered;
    font-size: 36px;
    padding-left: 100px;
}

.underline_italic {
    font-style: italic;
    /*font-weight: bold;*/
    text-decoration: underline;
}

/*endregion ------------------------------------------------------------------------------------------------------------*/

/*region ------- Ссылки с иконками на документы ---------------------------------------------------------------------------------*/

a[href$='.ods'] {
    background: url(imgs/file_types/ods.png) no-repeat left center;
}

a[href$='.odt'] {
    background: url(imgs/file_types/odt.png) no-repeat left center;
}

a[href$='.docx'], a[href$='.doc'] {
    background: url(imgs/file_types/doc.png) no-repeat left center;
}

a[href$='.xlsx'], a[href$='.xls'] {
    background: url(imgs/file_types/xls.png) no-repeat left center;
}

a[href$='.pdf'] {
    background: url(imgs/file_types/pdf.png) no-repeat left center;
}

a[href$='.rar'] {
    background: url(imgs/file_types/rar.png) no-repeat left center;
}

a[href$='.zip'] {
    background: url(imgs/file_types/rar.png) no-repeat left center;
}

a[href$='.ods'], a[href$='.odt'], a[href$='.docx'], a[href$='.xlsx'], a[href$='.pdf'], a[href$='.doc'], a[href$='.xls'], a[href$='.rar'], a[href$='.zip'] {
    background-size: 21px;
    padding-left: 25px;
    transition-duration: 150ms;
    margin-left: 2px;
}

a[href$='.ods']:hover, a[href$='.odt']:hover, a[href$='.docx']:hover, a[href$='.xlsx']:hover, a[href$='.xls']:hover, a[href$='.pdf']:hover, a[href$='.doc']:hover, a[href$='.rar']:hover, a[href$='.zip']:hover {
    background-color: darkorange;
    padding-left: 25px;
    background-size: 24px;
    margin-left: 2px;
}

/*endregion ------------------------------------------------------------------------------------------------------------*/

/*region ------- SUMMARY DETAILS ol>li>div, nice_details, summary ---------------------------------------------------------------*/
summary {
    cursor: pointer;
}

ol > li > div, .nice_details{
    text-indent: 0;
    box-shadow: 4px 1px 21px 1px rgba(0, 0, 0, 0.53);
    padding: 5px 15px 5px 15px;
    margin: 10px 10px 10px 10px;
    border-radius: 8px;
    transition-property: all;
    transition-duration: 350ms;
}

ol > li > div:hover, .nice_details:hover{
    box-shadow: 4px 1px 21px 1px rgba(255, 100, 0, 0.53);
    padding: 5px 22px 5px 22px;
    margin: 10px 3px 10px 3px;
    transition-property: all;
    transition-duration: 350ms;
}

summary:hover::marker {
    color: #f5a208;
}

.small_nice_details{
    text-indent: 0;
    box-shadow: 3px 2px 10px 3px rgba(0, 0, 0, 0.23);
    padding: 3px 10px;
    margin: 5px;
    border-radius: 8px;
}

/*Узкий красный <summary>*/
.red_light {
    font-size: 16px;
    color: white;
    background-color: coral;
    border-radius: 10px;
    text-decoration: none;
    padding: 0 5px 1px 5px; /*t r b l*/
    margin-left: 10px;
    text-indent: 10px;
}

.red_light:hover {
    background-color: #4CAF50;
}

details details p {
    box-shadow: 3px 3px 4px gray;
    padding: 15px;
    background-color: bisque;
    border-radius: 4px;
}

details div {
    box-shadow: 4px 1px 21px 1px rgba(0, 0, 0, 0.53);
    padding: 20px 15px 20px;
    margin: 10px 20px 10px;
}

summary div ul {
    text-indent: 0;
    padding-left: 0;
}

/*endregion ----------------------------------------------------------------------------------------------------------*/

/*region ------- ГЛАВНОЕ МЕНЮ (СПОЙЛЕРЫ) ---------------------------------------------------------------------------------------- */
.spoiler_menu {
    text-indent: 5px;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #444444;
}
.spoiler_menu ul {
    list-style-type: none;
    margin: 0;
    position: relative;
}
.spoiler_menu summary {
    background-color: #333;
    padding: 8px;
}
.spoiler_menu summary :hover {
    color: orange;
}
.spoiler_menu a {
    font-size: 15px;
    display: block;/*вобщем то зачем?*/
    width: 350px;
    padding-top: 3px;/*вобщем то зачем?*/
    padding-bottom: 3px;/*вобщем то зачем?*/
}
.spoiler_menu a:hover {
    padding-left: 18px;
    color: black;
    background-color: darkorange;
}
.spoiler_menu li div a{
    font-size: 14px;
    color: #ffa600;
    font-style: italic;
}
.spoiler_menu li div a::before{
    content: '• ';
}
.spoiler_menu li div {
    margin: 0 0 0 5px;
    padding: 0 0 0 25px;
    display: block;
    color: #444;
    text-indent: 10px;
    background-color: #444444;
    box-shadow: none;
}
.spoiler_menu ul ul {
    padding: 0;
}
.spoiler_menu #title {
    padding-left: 25px;
    font-size: 23px;
    color: gold;
}
/*endregion*/

/*region ------- left_side_menu, index_menu_div, #main_menu ---------------------------------------------------------------------*/

#main_menu {
    display: none;
    position: fixed;
    margin-top: 10px;
    box-shadow: 4px 1px 21px 1px rgba(0, 0, 0, 0.53);
}

.left_side_menu {
    background-color: #444444;
    position: fixed;
    float: left;
    padding: 0;
    width: 460px;
    display: none;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 1;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    box-shadow: 4px 1px 21px 1px rgba(0, 0, 0, 0.53);
}

.index_menu_div {
    margin: 0; padding: 0;
    visibility: hidden;
}

/*endregion ------------------------------------------------------------------------------------------------------------*/

/*region ------- @MEDIA @KEYFRAMES @FONT-FACE -----------------------------------------------------------------------------------*/
@media (min-width: 1500px){
    .main_div {
        margin-left: 470px;
        box-shadow: 4px 1px 21px 1px rgba(0, 0, 0, 0.53);
        padding: 30px 15px 20px;
        border-radius: 10px;
    }
    .left_side_menu {
        display: block;
    }
    .red_back_index_right, .yellow_back_index_right, .div_for_menu_block {
        margin-left: 470px;
    }
    .index_menu_button, #menu_button {
        display: none;
    }
    .header_div_2 {
        margin-left: 470px;
        position: absolute;
    }
    .menu_and_main_div {
        padding: 10px;
    }
    .logo_div {
        margin: 0 0 10px 0;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        /*height: 0;*/
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        /*height: 100px;*/
        transform: translateY(0);
    }
}

@font-face {
    font-family: 'MyGaramond';
    src: url('GARA.ttf')  format('truetype');
}
@font-face {
    font-family: 'MyBookman';
    src: url('BookmanUralic.ttf')  format('truetype');
}
@font-face {
    font-family: 'MyPalladio';
    src: url('Palladio.otf')  format('truetype');
}

/*endregion ------------------------------------------------------------------------------------------------------------*/

/*region ------- Для кнопки возврата в начало страницы --------------------------------------------------------------------------*/
.to_page_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    /*background: #ff8c00;*/
    background: #444444;
    opacity: .6;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    border-radius: 10px;
    display: none;
    content: "wef2e";
    box-shadow: 4px 6px 10px 0 rgba(0, 0, 0, 0.55);
    padding: 0;
}
.to_page_top:hover {
    background: limegreen;
    /*background: #ff8c00;*/
    border-radius: 5px;
    opacity: .9;
}
/**В JS этот стиль добавляется к стилю кнопки, если страница прокручена вниз больше, чем на высоту экрана*/
.to_page_top-show {
    display: block;
}
/*endregion ------------------------------------------------------------------------------------------------------------*/

.hidden_menu_div {
    text-indent: 5px;
    margin-bottom: -20px;
    padding: 17px;
    color: white;
    border-radius: 15px;
    background-color: #444444;
    visibility: visible;
}

/*.bg_1121 {
    !*background: white image("imgs/1121/1121_bg.png") no-repeat;*!
    background-image: url("imgs/1121/1121_bg.png");
    background: no-repeat;
    background-color: white;
}*/

/*#neutron {
    background: #444444 url("imgs/main_menu/n2.png") 5px 5px no-repeat;
    background-size: 65px;
}*/
/*region ------- Картинки -------------------------------------------------------------------------------------------------------*/
.image_div {
    width: fit-content;
    margin: auto;
    text-indent: 0;
}
/*.image_div img:hover{
    transform:scale(1.8);
    transition: transform 0.25s ease;
}*/
.resizable {
    cursor: zoom-in;
}
.bigger{
    transform:scale(2.2);
    transition: transform 0.25s ease;
    cursor: zoom-out;
}
/* Clear floats after image container */
.image_div::after {
    content: "";
    clear: both;
    display: table;
}
/*endregion -----------------------------------------------------------------------------------------------------------*/

/*region ------- Узкий цветной скрол для меню -----------------------------------------------------------------------------------*/
.left_side_menu {
    transition: top 0.3s;
    /*noinspection CssUnknownProperty*/
    scrollbar-color: orange #444444;
    /*noinspection CssUnknownProperty*/
    scrollbar-width: thin;
}
.left_side_menu::-webkit-scrollbar {
    width: 10px;
}
.left_side_menu::-webkit-scrollbar-track {
    background-color: #444444;
    border-radius: 10px;
}
.left_side_menu::-webkit-scrollbar-thumb {
    background-color: darkorange;
}
/*endregion -----------------------------------------------------------------------------------------------------------*/

/*region ------- Для панельки которая вываливается сверху -----------------------------------------------------------------------*/
/*НЕ ИСПОЛЬЗУЕТСЯ*/

/*вставить в html*/
/*<div id="top_slide_panel">*/
/*    <a style="padding: 3px 15px" onclick="openNav()">&#9776;</a>*/
/*    <a href="../menu/index.html">Главная</a>*/
/*    <a href="">БДКГ-02</a>*/
/*</div>*/

#top_slide_panel {
    visibility: visible;
    background-color: #333333; /* Black background color */    /*var(--background_color_dark)*/
    position: fixed; /* Make it stick/fixed */
    top: -50px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    padding: 5px 20px;
    border-radius: 0;
    text-indent: 0;
}

#top_slide_panel a {
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 4px 15px;
    margin-left: 4px;
    border-radius: 0 0 0 0;
    z-index: 9;
}

#top_slide_panel a:hover {
    background-color: #ddd;
    color: #222222;
}

/*endregion -----------------------------------------------------------------------------------------------------------*/

/*region ------- Меню выезжающее слева ------------------------------------------------------------------------------------------*/

/* The sidepanel menu */
.left_side_panel {
    padding-left: 0;
    padding-right: 0;
    height: 100%; /* Specify a height */
    /*width: 0; !* 0 width - change this with JavaScript *!*/
    width: 420px;
    position: fixed; /* Stay in place */
    z-index: 5; /* Stay on top */
    top: 0px;
    left: -450px;
    background-color: #333333;/*#111;*/ /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidepanel */

    box-shadow: none;
    overflow-y: scroll;
    /*transition: top 0.1s;*/
}
.left_side_panel>div {
    box-shadow: none;
}

/* Position and style the close button (top right corner) */
.left_side_panel .close_btn {
    position: absolute;
    top: 0;
    color: white;
    right: 25px;
    font-size: 40px;
}
.left_side_panel > a {
    text-indent: 0;
    color: white;
    background: none;
    transition: none;
    /*background-color: #333333;*/
}
.left_side_panel > a:hover {
    color: #cccccc;
    transition: none;
}
/*endregion -----------------------------------------------------------------------------------------------------------*/
.index_menu_button {
    font-size: 50px;
    background: none;
    color: #dddddd;
    cursor: pointer;
    margin-top: 12px;
}
.index_menu_button:hover {
    color: white;
    background: none;
}