/*todo Переписать CSS*/

#menu_button {
    background-color: #44c767;
    /*background: linear-gradient(to bottom, #64ff57 5%, #08b80d 100%);*/
    /*border-style: groove;*/
    border-radius: 30px;
    border-width: 4px;
    /*border: 1px solid #18ab29;*/
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    height: 60px;
    width: 60px;
    text-align: center;
    text-indent: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
    box-shadow: 4px 1px 11px 1px rgba(0, 0, 0, 0.53);

}

#menu_button :hover {
    background: linear-gradient(to bottom, #f4ff3a 5%, #f5a208 100%);
}

input[type="text"], input[type="date"] {
    font-family: "Trebuchet MS", sans-serif;
    border: 0;
    border-radius: 6px;
    box-shadow: inset 5px 10px 5px -9px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: inset 10px 10px 3px -7px rgba(0, 0, 0, 0.55);
    padding-left: 8px;
    padding-right: 8px;
    /*background-color: #dddddd;*/
}

input[type="text"]:hover, input[type="date"]:hover {
    transform: scale(1.05);
    transition-property: all;
    transition-duration: .2s;
}

input[type="button"] {
    box-shadow: inset 0 0 3px 1px #111111;
    /*background:linear-gradient(to bottom, #dfffb5 5%, #f5c98c 100%);*/
    /*background:linear-gradient(to bottom, #5bff5e 5%, #23f51a 100%);*/
    background: #f59708;
    /*background-color:#dfffb5;*/
    border-radius: 8px;
    /*border-style: none;*/
    /*border:1px solid #18ab29;*/
    border-width: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 3px 11px;
    text-decoration: none;
    text-shadow: 0 3px 2px #000000;
}

input[type="button"]:hover {
    background: linear-gradient(to bottom, #f4ff3a 5%, #f5a208 100%);
    /*background: #f4f515;*/
}

input[type="button"]:active {
    background: linear-gradient(to bottom, #ffa86c 5%, #dc0d0c 100%);
}

img {
    display: block;
    margin: 5px auto;
    max-width: 100%;
    text-indent: 0;
}

.butt_in_text {
    float: left;
}

#main_menu {
    display: none;
    position: fixed;
    margin-top: 10px;
    box-shadow: 4px 1px 21px 1px rgba(0, 0, 0, 0.53);
}

.header_div_2 {
    text-indent: 0;
    margin: -10px 0 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    width: 100%;
    box-shadow: none;
}

.header_div_2 > a, .header_div_2 > a:hover {
    /*text-shadow: 0 1px 0 #2f6627;*/
    border-radius: 0 0 0 0;
    font-family: Arial, sans-serif;
    box-shadow: 4px 1px 11px 1px rgba(0, 0, 0, 0.53);
    display: inline-block;
    /*background-color: orange;*/
    /*background: linear-gradient(to bottom, #f4ff3a 5%, #f5a208 100%);*/
    background: linear-gradient(to bottom, #fed53f 5%, #f57506 100%);
    color: white;
    font-size: 14px;
    /*text-shadow: 0 1px 1px #000000;*/
    margin-top: 19px;
    padding: 4px 15px;
    text-indent: 0;
    margin-left: 0;
}

.header_div_2 > a:last-of-type {
    border-radius: 0 15px 15px 0;
}

.header_div_2 > a:first-of-type {
    border-radius: 15px 0 0 15px;
}

.header_div_2 > a:hover {
    /*background-color: limegreen;*/
    background: linear-gradient(to bottom, #64ff57 5%, #08b80d 100%);
}

/*region INDEX 3------------------------------------*/
/*------------------INDEX 3---------------------*/

.menu_block {
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.75);
    text-align: center;
    height: 156px; /*171*/
    width: 144px;
    text-indent: 0;
    margin: 5px;
    /*margin: 9px 0 0 9px;*/
    padding: 0;
    float: left;
    line-height: 0.9;
}

.menu_block:hover {
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.75);
}

.menu_block_top_red {
    background-color: #f33;
}

.menu_block_top_green {
    background-color: green;
}

.menu_block_top_blue {
    background-color: #33f;
}

.menu_block_top_orange {
    background-color: darkorange;
}

.menu_block_top_violet {
    background-color: darkmagenta;
}

.menu_block_top_green, .menu_block_top_red, .menu_block_top_blue, .menu_block_top_orange, .menu_block_top_violet {
    font-size: 13px;
    height: 23px;
    color: white;
    box-shadow: none;
}

.menu_block div span {
    vertical-align: middle;
    padding-top: 5px;
    /*color: #4CAF50;*/
}

.menu_block_footer {
    box-shadow: none;
    background-color: #ccc;
    height: 35px;
    color: #555;
    font-size: 13px;
}

.menu_block img {
    margin: 0;
    height: 98px;
    width: 144px;
}

.menu_block div {
    padding-top: 0;
    padding-bottom: 0;
    text-indent: 0;
    margin: 0;
    text-align: center;
}

.menu_block a {

    border-radius: 0;
    padding: 0;
}

.menu_block a:hover {
    border-radius: 0;
    padding: 0;
    color: white;
}

/*---------------------------------------*/
/*endregion*/

body {
    background-color: antiquewhite;
}

body > div {
    box-shadow: 4px 1px 21px 1px rgba(0, 0, 0, 0.53);
    padding: 20px 15px 20px;
    margin: 10px 20px 20px;
}

ol > li > div {
    text-indent: 0;
    box-shadow: 4px 1px 21px 1px rgba(0, 0, 0, 0.53);
    padding: 10px 15px 10px;
    margin: 5px 10px 10px;
    border-radius: 20px 0 20px 0;
}

img.small {

    width: 50px;
    float: left;
}

.orange_link {
    background-color: darkorange;
    color: white;
    border-radius: 10px;
}

.orange_link:hover {
    background-color: green;
}

div {
    padding: 5px 20px;
    text-align: justify;
    text-indent: 40px;
    font-size: 18px;
    font-family: sans-serif;
    background-color: white;
}

p {
    text-indent: 40px;
}

/*todo объединить с header div*/
.footer_div {
    background-color: orange;
    font-family: sans-serif;
    color: white;
    border-radius: 20px;
    bottom: 0;
    width: 95%;
    padding: 5px 20px;
    margin: 0 0;
    text-indent: 0;

}

.header_div {
    position: fixed;
    background-color: orange;
    /*height: 35px;*/
    font-family: sans-serif;
    color: white;
    /*padding: 10px 0 0;*/
    padding: 5px 20px;
    margin: 0 0;
    border-radius: 20px;
    text-indent: 0;
}

.like_a_button {
    border-style: double;
    font-size: 15px;
    background-color: white;
}

.yellow_back_right {
    font-size: 14px;
    background-color: khaki;
    padding: 10px;
    margin-left: 100px;
    width: 400px;
    align-self: center;
    text-align: right;
}

.yellow_back_center {
    font-size: 14px;
    /*background-color: khaki;*/
    background-color: antiquewhite;
    padding: 10px;
    /*margin-left: 50px;*/
    margin: 5px auto;
    /*display: block;*/
    width: 200px;
    alignment: center;
    align-self: center;
    text-indent: 0;
}

.yellow_back_centered {
    margin: 5px 0 5px;
    font-size: 14px;
    background-color: antiquewhite;
    /*padding: 30px;*/
    align-self: center;
    text-align: center;
    padding: 10px;
    text-indent: 0;
    border-radius: 20px;

}

.yellow_back {
    margin: 10px 0 10px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: khaki;
    align-self: center;

    text-indent: 0;
    border-radius: 20px;

    /*box-shadow: none;*/
    box-shadow: 2px 1px 3px 0 rgba(0, 0, 0, 0.43);
}

.green_back {
    margin: 10px auto;
    padding: 10px 20px;
    background-color: limegreen;
    text-indent: 0;
    text-align: center;
    border-radius: 0;
    box-shadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.43);
    width: 200px;
}

.green_back input {
    width: 100px;
    margin: 5px;
}

.activity_calculator {
    background-color: antiquewhite;
    border-radius: 20px;
    margin: 0 0 5px;
    padding: 5px 5px 5px 15%;
    text-align: center;
}

.activity_calculator div {
    background-color: antiquewhite;
    text-indent: 0;
}

.activity_calculator span {
    font-size: 14px;
    display: inline-block;
}

.activity_calculator div:first-child span {
    width: 150px;
    padding: 2px 12px;
    text-align: right;
}

.yellow_back p {
    margin: 10px;
}

.yellow_back ul {
    font-size: 14px;
}

.attention {
    color: #ff3333;
}

.mark_green {
    background-color: greenyellow;
}

.mark_yellow {
    background-color: yellow;
}

.big_one {
    color: orangered;
    font-size: 36px;
    padding: 100px;
}



a {
    color: darkorange;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: darkorange;
    border-radius: 9px;
    padding: 0 4px;
    /*margin: 0 -4px;*/
}

a[href$='.ods'] {
    background: url(imgs/file_types/ods.png) no-repeat left center;
}

a[href$='.odt'] {
    background: url(imgs/file_types/odt.png) no-repeat left center;
}

a[href$='.docx'], a[href$='.doc'] {
    background: url(imgs/file_types/doc.png) no-repeat left center;
}

a[href$='.xlsx'], a[href$='.xls'] {
    background: url(imgs/file_types/xls.png) no-repeat left center;
}

a[href$='.pdf'] {
    background: url(imgs/file_types/pdf.png) no-repeat left center;
}

a[href$='.rar'] {
    background: url(imgs/file_types/rar.png) no-repeat left center;
}

a[href$='.ods'], a[href$='.odt'], a[href$='.docx'], a[href$='.xlsx'], a[href$='.pdf'], a[href$='.doc'], a[href$='.xls'], a[href$='.rar'] {
    background-size: 20px;
    padding-left: 25px;
}

a[href$='.ods']:hover, a[href$='.odt']:hover, a[href$='.docx']:hover, a[href$='.xlsx']:hover, a[href$='.xls']:hover, a[href$='.pdf']:hover, a[href$='.doc']:hover, a[href$='.rar']:hover {
    padding-left: 25px;
    background-color: darkorange;
}

table a[href$='.ods']:hover, table a[href$='.odt']:hover, table a[href$='.docx']:hover, table a[href$='.xlsx']:hover, table a[href$='.pdf']:hover, table a[href$='.doc']:hover {
    padding-left: 22px;
    background-color: white;
}

summary {
    cursor: pointer;
}

.red_light {
    font-size: 16px;
    color: white;
    background-color: coral;
    border-radius: 10px;
    text-decoration: none;
    padding: 0 5px 1px 0; /*t r b l*/
    margin-left: 10px;
    text-indent: 10px;
}

.red_light:hover {
    background-color: #4CAF50;

}

details details p {
    box-shadow: 3px 3px 4px gray;
    padding: 15px;
    background-color: bisque;
    border-radius: 4px;
}

details div {
    /*box-shadow: 3px 3px 4px gray;*/
    box-shadow: 4px 1px 21px 1px rgba(0, 0, 0, 0.53);
    padding: 20px 15px 20px;
    margin: 10px 20px 10px;
}

summary div ul {
    text-indent: 0;
    padding-left: 0;

}

.dark_link {
    color: orangered;
    font-size: 20px;
    font-family: sans-serif
}

.right_align {
    text-align: right;
}

.left_align {
    box-shadow: none;
    text-align: left;
    font-size: smaller;
    background-color: lemonchiffon;
    text-indent: 0;
    padding: 10px 20px;
    border-radius: 25px;
}

body > div > .left_align {
    /*box-shadow: none;*/
    text-align: left;
    font-size: smaller;
    background-color: lemonchiffon;
    text-indent: 0;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 4px 1px 11px 1px rgba(0, 0, 0, 0.23);
}

ul {
    text-indent: 10px;
    font-size: 18px;
}

ol {
    /*padding-left: 40px;*/
    text-indent: 10px;
    font-size: 18px;
}

table {
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}

.small_table {
    font-size: 14px;
    border-collapse: collapse;
    width: 300px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

.left_side {
    float: left;
}

.right_side {
    float: right;
}

h1 {
    font-size: 24px;
    text-indent: 40px;
    font-family: "Times New Roman", monospace;
    /*padding-right: 10px;*/
    color: #bd7400;
    /*font-size: 1.5em;*/
    font-style: oblique;
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
}

h3 {
    font-family: "Times New Roman", monospace;
    /*padding-right: 10px;*/
    color: #bd7400;
    font-size: 1.5em;
    font-style: oblique;
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
}

.float_left {
    float: left;
    width: 380px;
    margin: 0;
    padding-left: 15px;
}

.float_right {
    float: right;
}

.float_clear {
    clear: left;
}

.float_left_300 {
    float: left;
    width: 300px;
    text-indent: 0;
}

/*.bg_1121 {
    !*background: white image("imgs/1121/1121_bg.png") no-repeat;*!
    background-image: url("imgs/1121/1121_bg.png");
    background: no-repeat;
    background-color: white;
}*/

.spoiler_menu {
    margin: 0;
    padding: 0;
    color: white;
    border-radius: 15px;

    background-color: #444444;

}

.spoiler_menu ul {
    list-style-type: none;
    padding-left: 70px;
    margin: 0;
    position: relative; /*сделано для того чтобы меню со свойством position:absolute и top:0 считали за нулевую отметку spoiler menu */

}

.spoiler_menu summary {
    background-color: #333;
    padding: 10px;
    margin: 0;

}

.spoiler_menu details:first-child summary {
    border-radius: 15px 15px 0 0;
}

.spoiler_menu details:last-child summary {
    border-radius: 0 0 15px 15px;
}

.spoiler_menu details:last-child {
    /*padding-bottom: 15px;*/
}

.spoiler_menu summary :hover {
    color: orange;
}

.spoiler_menu a {
    font-size: 15px;
    display: block;
    width: 350px;
    margin: 4px;
    /*height: 22px;*/
    transition-property: all;
    transition-duration: 350ms;
}

.spoiler_menu a:hover {
    color: black;
    background-color: darkorange;
}

.spoiler_menu li div {
    display: none;
    margin: 0;
    text-indent: 0;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 1s;
    -moz-transition-property: all;
    -moz-transition-duration: 1s;
    -moz-transition-delay: 1s;
}

.spoiler_menu li div ul {
    padding: 0;

}

.spoiler_menu li:hover div {
    /*position: absolute;*/
    /*display: block;*/

    /*transition-delay: 0s;*/

    margin: -5px;
    display: block;
    position: absolute;
    left: 170px;
    /*top: 0;*/
    /*top: 20px;*/
    color: #444;
    padding: 0;
    text-indent: 0;
    /*background-color: darkorange;*/
    background-color: #444444;
    border-radius: 10px;
    width: 400px;
    /*height: 200px;*/
    -moz-transition-property: all;
    -moz-transition-duration: 1s;
    -moz-transition-delay: 0s;

}

/*.spoiler_menu details {
    !*height: 100px;*!
    transition: all 0.3s;
}*/

@keyframes slideDown {
    0% {
        opacity: 0;
        /*height: 0;*/
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        /*height: 100px;*/
        transform: translateY(0);
    }
}

/*.spoiler_menu details[open] > ul {
    animation-name: slideDown;
    animation-duration: 400ms;
    !*animation-timing-function:cubic-bezier(0, 0, 1, 0);*!
    !*overflow:hidden;*!
    !*padding-left: 18px;*!
}*/

/*
details[open] > div, details[open] {
    animation-name: slideDown;
    animation-duration: 400ms;
    !*animation-timing-function:cubic-bezier(0, 0, 1, 0);*!
    !*overflow:hidden;*!
    !*padding-left: 18px;*!
}*/
