img {

	display: block;
	margin: 20px auto;
    /*margin-bottom: 20px;
    margin-top: 20px;
    alignment: center;*/
	/*width: 600px;*/
	/*box-shadow: 3px 3px 4px #333333;*/

}

.img_link {
    width: 150px;
    height: 150px;
    float: left;
    margin: 5px;
}

img.small {

	width : 50px;
	float:left;
	/*margin-left: 10px*/
} 

div{
	padding-left:50px; 
	padding-right:50px;
	text-align:justify;
	text-indent:40px;
	font-size:18px;
	font-family:sans-serif;
	background-color:white;
}

p {

}

.footer_div{
	background-color:orange;
	height:35px;
	font-family:sans-serif;
	color: white;
	border-radius: 20px;
	/*position: fixed;*/
	/*position: relative;*/
	/*margin: 0;*/
	bottom: 0;
	width: 90%;
	/*text-align: center;*/
	padding-top: 10px;
}

.header_div{
	/*position: fixed;*/
	background-color:orange;
	height:35px;
	font-family:sans-serif;
	color: white;
	padding-top: 10px;
	border-radius: 20px;
}

.like_a_button {
	border-style: double;
	font-size: 15px;
}

/*.yellow_back{
	font-size: 14px;
	background-color: khaki;
	padding: 5px 10px;
	!*text-indent: 0;*!
	margin: 10px 10px;
	!*width: 700px;*!
}*/

.yellow_back_right{
	font-size: 14px;
	background-color: khaki;
	padding: 10px;
	margin-left: 100px;
	width: 400px;
	align-self: center;
	text-align: right;
}

.yellow_back_center{
	font-size: 14px;
	background-color: khaki;
	padding: 10px;
	margin-left: 50px;
	width: 200px;
	alignment: center;
	text-indent: 0;
}

.yellow_back{

	margin-top: 5px;
	font-size: 14px;
	background-color: khaki;
	padding: 10px;
	/*margin-left: 10px;*/
	/*width: 90%;*/
	align-self: center;
	text-align: center;

	text-indent: 0;
	border-radius: 20px;

}

.attention{
	color:#ff3333;
}

.mark_green{
	background-color: greenyellow;
}

.big_one{
	color: orangered;
	font-size:36px;
    padding: 100px;
}



h1{
	padding:50px;
	text-align:justify;
	text-indent:40px;
	font-size:24px;
	font-family:sans-serif
		
}

/**Для ссылок**/
/*a{
	color:orange;
	font-size:20px;
	font-family:sans-serif
}*/

a{
	color: darkorange;
	//color:#bd7400;
	font-size:18px;
	font-family:sans-serif;
	text-decoration: none;
	padding: 0 5px;

}

/*a{
	color: white;
	background-color: orange;
	//color:#bd7400;
	font-size:18px;
	font-family:sans-serif;
	border-radius: 10px;
	text-decoration: none;
	padding: 0px 25px;

}*/

.dark_link {
	color: orangered;
	font-size:20px;
	font-family:sans-serif
}

/*a:hover {
	color:white;
	font-size:20px;
	font-family:sans-serif;
    background-color: orangered;

}*/

a:hover {
    /*color:orangered;*/
    font-size:18px;
    font-family:sans-serif;

	color: white;
	background-color: darkorange;
	/*color:#bd7400;*/
	border-radius: 10px;
	text-decoration: none;
	padding: 0 5px 1px 5px; /*t r b l*/


}

/*USELESS: нужно будет добавить в div'ы color:white и можно будет удалять  */
.white_font{
	color:white;
	text-decoration: none;
}

a:hover.white_font {
	color:red;
	text-decoration: none;
}

.white_on_white{
	color:white;
    background-color: black;
}

.brown{
    color: saddlebrown;
}

.green{
	color: green;
}

.yellow{
	color: yellow;
}

.gray{
	color: gray;
}

.orange{
    color: orange;
}


.right_align{
    text-align:right;
}

.left_align{
	text-align:left;
	font-size: smaller;
	background-color: lemonchiffon;
	text-indent: 0;
	padding: 10px 20px;
	border-radius: 25px;
}

ul{
	text-indent:10px;
	font-size:18px;
}

ol{
    text-indent:10px;
    font-size:18px;
}

table{
	font-size:14px;
	/*margin: 20px;0*/
	border-collapse: collapse;
	width: 100%;
	/*border: 1px solid black;*/

}

table, th, td{
	border: 1px solid black;
	text-align: center;
}


th {
	background-color: #4CAF50;
	color: white;
}

.left_side{
	float: left;
}

.right_side{
	float: right;
}

/*
.down_side{
	float: end;
}*/

h1 {
    font-family: "Times New Roman", monospace;
	/*padding-right: 10px;*/
	color: #bd7400;
	font-size: 1.5em;
    font-style: oblique;
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
}

h3 {
    font-family: "Times New Roman", monospace;
    /*padding-right: 10px;*/
    color: #bd7400;
    font-size: 1.5em;
    font-style: oblique;
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
}

.float_left{
	float: left;
	width: 500px;
}

.float_right{
	float:right;
}

.float_clear {
	clear:left;
}

.float_left_300{
    float: left;
    width: 300px;
    text-indent: 0;
}

/*
ol {
	padding-left: 100px;
	text-indent: 10px;
}*/
