/*img.item:hover {
	width: 200px;
	height: 140px;
	background-color: grey;
}*/
/*******************************************************************/

/*.yellow_back{
	font-size: 14px;
	background-color: khaki;
	padding: 5px 10px;
	!*text-indent: 0;*!
	margin: 10px 10px;
	!*width: 700px;*!
}*/


/**Для ссылок**/
/*a{
	color:orange;
	font-size:20px;
	font-family:sans-serif
}*/


/*//////////////////////////////////////////////////////*/
/*details {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: .5em .5em 0;
}

summary {
	font-weight: bold;
	margin: -.5em -.5em 0;
	padding: .5em;
}

details[open] {
	padding: .5em;
}

details[open] summary {
	border-bottom: 1px solid #aaa;
	margin-bottom: .5em;
}*/
/*//////////////////////////////////////////////////////*/
/*details {
	font: 16px "Open Sans", "Arial", sans-serif;
	width: 620px;
}

details > summary {
	padding: 2px 6px;
	width: 15em;
	background-color: #ddd;
	border: none;
	box-shadow: 3px 3px 4px black;
	list-style: none;
}

details > summary::-webkit-details-marker {
	display: none;
}

details > p {
	border-radius: 0 0 10px 10px;
	background-color: #ddd;
	padding: 2px 6px;
	margin: 0;
	box-shadow: 3px 3px 4px black;
}*/
/*//////////////////////////////////////////////////////*/

/*summary:hover {  КРУТОЙ СТИЛЬ С ПОДСВЕТКОЙ ШРИФТА
	color: #ff3200;
	!*display: inline;*!
	text-shadow: 0 0 15px #ff7900, 0 0 15px #ff7900, 0 0 15px #ff7900;
}*/
/*li {
    text-indent:20px;

}*/
/*
.down_side{
	float: end;
}*/

/*
ol {
	padding-left: 100px;
	text-indent: 10px;
}*/
